.banner-div{
    position: relative;
    z-index: 0;
}
.banner{
    height: 330px;
    width: 952px;
    background-color: rgb(192, 205, 230);
    margin-top: 20px;
   
    border-radius: 10px;
}
.s1{
   
    background-image: url(./picture/배너샘플2.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

}
.s2{
    background-image: url(./picture/배너샘플3.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.s3{
    background-image: url(./picture/배너샘플4.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.s4{
    background-image: url(./picture/배너샘플6.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* MainPage.css */

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px;
    gap: 50px; 
    justify-content:center;
    box-sizing: border-box;
    max-width: 1903px;
    max-height: 1299px;
    
}
.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



  